@import "@/styles/mixins";
@import "@/styles/responsive";
@import "@/styles/variables";

.form {
  display: grid;
  margin: auto;
  padding: 1rem;
  width: 100%;
  @include lg-min {
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .fieldset {
    border: none;
    margin-top: 1rem;

    .legend {
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      height: 40px;

      span {
        align-items: center;
        background-color: $cart-item-bg;
        border-radius: 1rem;
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        margin-right: 0.5rem;
        width: 2rem;
      }
    }

    .labelText {
      margin-top: 0.5rem;
      display: block;

      span.invalidData {
        @include invalidData;
      }
    }

    .inputText {
      @include input-1;
      margin: 0.5rem 0;
    }

    .labelSelect {
      margin-top: 0.5rem;
      display: block;
      width: 100%;

      span.invalidData {
        @include invalidData;
      }
    }

    .labelSelectDisabled {
      color: #888;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
    }

    .select {
      @include input-1;
      margin: 0.5rem 0;
    }

    .radioBtn {
      appearance: none;
      color: #555;
      width: 1rem;
      height: 1rem;
      border: 1px solid #555;
      border-radius: 50%;

      &:checked {
        background: radial-gradient(#555 50%, #fff 50%);
      }
    }
  }

  .btnOrderWrapper {
    text-align: center;
    width: 100%;
    @include lg-min {
      grid-column: 1/-1;
    }

    .btnOrder {
      @include button-1;
      margin: 0.75rem 0;
      max-width: 500px;
    }
  }
}
