@import "@/styles/mixins";
@import "@/styles/responsive";
@import "@/styles/variables";

.form {
  display: grid;
  margin: auto;
  // width: 100%;
  @include lg-min {
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
  @include xl-min {
    gap: 2.5em;
    grid-template-columns: repeat(1, 1fr);
  }

  .fieldset {
    border: none;
    // margin-top: 1rem;

    .legend {
      margin-bottom: 2rem;
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      height: 40px;
      font-weight: $font-weight-semi;

      span {
        align-items: center;
        // background-color: $color-green-1;
        border-radius: 100%;
        border: 2px solid $color-green-dark-3;
        padding: 1.5rem;
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        margin-right: 0.5rem;
        width: 2rem;
        font-weight: $font-weight-medium;
      }
    }

    .labelText {
      margin-top: 0.5rem;
      display: block;

      span.invalidData {
        @include invalidData;
      }
    }

    .inputText {
      @include input-1;
      margin: 0.5rem 0;
      height: 200px;
      resize: none;
    }

    .labelSelect {
      margin-top: 0.5rem;
      display: block;
      width: 100%;

      span.invalidData {
        @include invalidData;
      }
    }

    .labelSelectDisabled {
      color: #888;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
    }

    .select {
      @include input-1;
      margin: 0.5rem 0;
    }

    .radioBtn {
      appearance: none;
      color: #555;
      width: 1rem;
      height: 1rem;
      border: 1px solid #555;
      border-radius: 50%;

      &:checked {
        background: radial-gradient(#555 50%, #fff 50%);
      }
    }
  }

  .btnOrderWrapper {
    text-align: center;
    width: 100%;
    @include lg-min {
      grid-column: 1/-1;
    }

    .btnOrder {
      @include button-1;
      margin: 0.75rem 0;
    }
  }
}
