@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
@import "../../../../../src/styles/variables";

.header {
  background-color: rgba($color-green-dark-3, 0.25);
  min-width: 260px;
  position: relative;
  z-index: 50;
  @include md-min {
    background-image: url("/assets/footer-bg-pattern.png");
    background-repeat: repeat;
  }

  &__headline {
    @include wrapper;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-block: 1rem;
  }

  &__icons {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  &__search {
    aspect-ratio: 1;
    cursor: pointer;
    display: block;
    width: 16px;
    @include md-min {
      width: 21px;
    }
    @include lg-min {
      width: 26px;
    }
  }

  &__logo {
    cursor: pointer;
    width: 130px;
    @include md-min {
      width: 190px;
    }
    @include lg-min {
      width: 240px;
    }
    &Image {
      display: block;
      height: auto;
      width: 100%;
    }
  }
}

.navbar {
  background-color: $color-white;
  border-bottom: 1px solid $color-green-dark-3;
  padding-block: 1rem;
  position: absolute;
  width: 100%;
  @media screen and (min-width: $burger-menu-screen-width) {
    padding-top: 1.5rem;
    position: relative;
  }
  @include xl-min {
    padding-top: 1.875rem;
  }
  @include xxl-min {
    padding-top: 2.25rem;
  }

  &__hidden {
    display: none;
    @media screen and (min-width: $burger-menu-screen-width) {
      display: flex;
    }
  }

  &__visible {
    display: flex;
  }

  &__list {
    @include wrapper;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    width: 100%;
    @media screen and (min-width: $burger-menu-screen-width) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    @include xxl-min {
      max-width: 85rem;
    }
  }

  &__link {
    align-items: center;
    background-color: #f4f5f4;
    border: none;
    border-radius: 0.75rem;
    color: $color-gray-dark-1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: all 0.2s;
    @media screen and (min-width: $burger-menu-screen-width) {
      background-color: transparent;
      border-radius: 0;
      padding: 0;
    }

    &Text {
      font-size: 1rem;
      font-weight: 500;
      @include xl-min {
        font-size: 1.125rem;
      }
      @include xxl-min {
        font-size: 1.25rem;
      }
    }

    &Image {
      display: block;
      @media screen and (min-width: $burger-menu-screen-width) {
        display: none;
      }
    }

    &:hover {
      background-color: $color-orange-200;
      @media screen and (min-width: $burger-menu-screen-width) {
        color: $color-orange-500;
        background-color: transparent;
      }
    }
  }
}
