@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
.container {
  @include wrapper;
  h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  form {
    margin-top: 19px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    input {
      @include input-1;
    }
  }
}
