@import "../../../../../../styles/mixins";
@import "../../../../../../styles/responsive";
@import "../../../../../../styles/variables";

.form {
  display: grid;
  margin: auto;
  padding: 1rem;
  width: 100%;
  @include lg-min {
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .fieldset {
    margin-top: 1rem;

    .legend {
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      height: 40px;

      span {
        align-items: center;
        background-color: $cart-item-bg;
        border-radius: 1rem;
        display: inline-flex;
        height: 2rem;
        justify-content: center;
        margin-right: 0.5rem;
        width: 2rem;
      }
    }

    .labelText {
      margin-top: 0.5rem;
      display: block;
    }

    .inputText {
      background-color: $bg-color;
      margin: 0.5rem 0;
      padding: 1rem;
      width: 100%;
      &::placeholder {
        color: $measure-color;
      }
    }

    .labelSelect {
      margin-top: 0.5rem;
      display: block;
      width: 100%;
    }

    .select {
      background-color: $bg-color;
      margin: 0.5rem 0;
      padding: 1rem;
      width: 100%;
    }

    .radioBtn {
      appearance: none;
      color: #555;
      width: 1rem;
      height: 1rem;
      border: 1px solid #555;
      border-radius: 50%;

      &:checked {
        background: radial-gradient(#555 50%, #fff 50%);
      }
    }
  }
  .btnOrder {
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: $bg-color;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    border-radius: 16px;
    margin: 9px 0;
    @include lg-min {
      grid-column: 2/3;
    }

    &:hover {
      background-color: #2c742f;
      cursor: pointer;
    }
  }
}
