@import "@/styles/variables";
@import "@/styles/responsive";

.userBarContainer {
  display: flex;
  align-items: center;
  gap: $s;
}
.userInfo {
  display: inline-block;
  margin-right: $s;
}

.userIcon {
  height: 24px;
  width: 24px;
}

.userIconEmpty {
  @extend .userIcon;
  color: transparent;
  stroke: $color-black;
}

.userIconFilled {
  @extend .userIcon;
  color: $color-black;
  stroke: none;
}
.userSignOutBtn {
  width: auto;
  margin: 0;
}

.cartIcon {
  aspect-ratio: 1;
  cursor: pointer;
  display: block;
  width: 16px;
  @include md-min {
    width: 23px;
  }
  @include lg-min {
    width: 30px;
  }
}
