@import "@/styles/variables";

.userBarContainer {
  display: flex;
  align-items: center;
  gap: $s;
}
.userInfo {
  display: inline-block;
  margin-right: $s;
}

.userIcon {
  height: 24px;
  width: 24px;
}

.userIconEmpty {
  @extend .userIcon;
  color: transparent;
  stroke: $color-black;
}

.userIconFilled {
  @extend .userIcon;
  color: $color-black;
  stroke: none;
}
.userSignOutBtn {
  width: auto;
  margin: 0;
}
