@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.form {
  margin: auto;
  padding: 1rem;
  max-width: 500px;
  width: 100%;

  .details {
    margin-top: 1rem;

    .summary {
      font-size: 20px;
      list-style: none;
      position: relative;

      &::after {
        content: "\022C1";
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &[open] > .summary::after {
      content: "\022C0";
    }

    .labelText {
      margin-top: 0.5rem;
      display: block;

      span.invalidData {
        color: red;
        font-size: 0.9rem;
      }
    }

    .inputText {
      @include input-1;
      margin: 0.5rem 0;
    }

    .labelSelect {
      margin-top: 0.5rem;
      display: block;
      width: 100%;

      span.invalidData {
        color: red;
        font-size: 0.9rem;
      }
    }

    .labelSelectDisabled {
      color: #888;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
    }

    .select {
      @include input-1;
      margin: 0.5rem 0;
    }

    .radioBtn {
      appearance: none;
      color: #555;
      width: 1rem;
      height: 1rem;
      border: 1px solid #555;
      border-radius: 50%;

      &:checked {
        background: radial-gradient(#555 50%, #fff 50%);
      }
    }
  }

  .buttonsWrapper {
    text-align: center;
    width: 100%;

    .formButton {
      @include button-1;
      margin: 0.75rem 0;
      max-width: 500px;
    }
  }
}
