@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.form {
  margin: auto;
  padding: 1rem;
  max-width: 500px;
  width: 100%;

  .details {
    margin-top: 1rem;

    .summary {
      font-size: 20px;
      list-style: none;
      position: relative;

      &::after {
        content: "\022C1";
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &[open] > .summary::after {
      content: "\022C0";
    }

    .labelText {
      margin-top: 0.5rem;
      display: block;

      span.invalidData {
        color: red;
        font-size: 0.9rem;
      }
    }

    .inputText {
      background-color: $bg-color;
      margin: 0.5rem 0;
      padding: 1rem;
      width: 100%;
      &::placeholder {
        color: $measure-color;
      }
    }

    .labelSelect {
      margin-top: 0.5rem;
      display: block;
      width: 100%;

      span.invalidData {
        color: red;
        font-size: 0.9rem;
      }
    }

    .labelSelectDisabled {
      color: #888;
      margin-top: 0.5rem;
      display: block;
      width: 100%;
    }

    .select {
      background-color: $bg-color;
      margin: 0.5rem 0;
      padding: 1rem;
      width: 100%;
    }

    .radioBtn {
      appearance: none;
      color: #555;
      width: 1rem;
      height: 1rem;
      border: 1px solid #555;
      border-radius: 50%;

      &:checked {
        background: radial-gradient(#555 50%, #fff 50%);
      }
    }
  }

  .buttonsWrapper {
    text-align: center;
    width: 100%;

    .formButton {
      background-color: #a8a8a8;
      border-radius: 30px;
      color: $text-color;
      font-size: 20px;
      font-weight: 400;
      margin: 12px 0;
      max-width: 500px;
      padding: 1rem;
      text-align: center;
      width: 100%;

      &:disabled {
        opacity: 0.5;
      }

      &:enabled {
        &:hover {
          background-color: #888;
          cursor: pointer;
        }
      }
    }
  }
}
