@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.back {
  @include wrapper;
  .arrow {
    align-items: center;
    background-color: $cart-item-bg;
    border-radius: 1.3rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    height: 2.6rem;
    justify-content: center;
    margin: 1em 0;
    width: 2.6rem;
    &:hover {
      background-color: #9d9b9b;
    }
  }
}

.cartPage {
  display: grid;
  gap: 2em;
  @include wrapper;
  @include md-min {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg-min {
    grid-template-columns: repeat(3, 1fr);
  }

  .warning {
    text-align: center;
    margin: 30px 0;
  }

  .cartItem {
    position: relative;

    .deleteIcon {
      cursor: pointer;
      position: absolute;
      top: 19px;
      right: 10px;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.cartFooter {
  margin-top: 1em;
  background-color: $cart-item-bg;
  padding-top: 10px;
  padding-bottom: 21px;

  .order {
    @include wrapper;

    .headline {
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;
      align-items: center;
      .caption {
        color: $text-color;
        font-size: 14px;
      }

      .sum {
        color: $text-color;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .button {
      width: 100%;
      padding: 16px 30px;
      text-align: center;
      background-color: #b6b3b3;
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      border-radius: 32px;

      &:hover {
        background-color: #9d9b9b;
      }
    }
  }
}
