@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .title {
    display: none;
    @media screen and (min-width: $burger-menu-screen-width) {
      @include wrapper;
      align-items: center;
      display: flex;
      gap: 1em;
      margin-top: 1em;

      .btnBack {
        align-items: center;
        background-color: $color-white;
        border: 1px solid #999;
        cursor: pointer;
        border-radius: 50%;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        height: 30px;
        justify-content: center;
        width: 30px;

        &:hover {
          background-color: $color-gray-light-1;
        }
      }

      .titleText {
        font-size: 2em;
        font-weight: 600;
      }
    }
  }

  .productsWrapper {
    flex: 1 1 auto;
    margin-top: 3em;

    .products {
      display: grid;
      gap: 2em;
      list-style: none;
      @include wrapper;
      @include md-min {
        grid-template-columns: repeat(2, 1fr);
      }
      @include lg-min {
        grid-template-columns: repeat(3, 1fr);
      }

      .warning {
        text-align: center;
        margin: 30px 0;
      }

      .cartItem {
        position: relative;
      }
    }
  }

  .similarProducts {
    @include wrapper;
    padding-top: 5em !important;
  }

  .price {
    @include wrapper;
    align-items: center;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem !important;

    .caption {
      color: $color-gray-dark-1;
      font-size: 14px;
    }

    .sum {
      color: $color-gray-dark-1;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .linkToOrder {
    @include wrapper;
    background-color: #d9d9d9;

    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    & > a {
      text-decoration: none;
    }

    .button {
      @include button-1;
      max-width: 100%;
      text-decoration: none;
    }
  }

  .warning {
    @include wrapper;
    font-size: 1.5em;
  }
}
