@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .productsWrapper {
    flex: 1 1 auto;
  }

  .price {
    @include wrapper;
    background-color: $cart-item-bg;
    margin-top: 1rem;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;

    .button {
      width: 100%;
      padding: 16px 30px;
      text-align: center;
      background-color: #b6b3b3;
      color: $text-color;
      font-size: 20px;
      font-weight: 500;
      border-radius: 32px;

      &:hover {
        background-color: #9d9b9b;
      }
    }
  }
}
