@import '../../../../styles/responsive';
@import '../../../../styles/mixins';

.banner {
  background-color: #EDF2EE;
  
  .wrapper {
    display: flex;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    @include wrapper;
    @include lg-min {
      gap: 40px;
      padding: 60px 0;
    }

    .image {
      display: none;
      @include lg-min {
        flex: 1;
        display: block;
        object-fit: cover;
        height: 300px;
      }
      @include xl-min {
        height: 450px;
      }
    }
  
    .information {
      flex: 1;
      .bannerTitle {
        font-weight: 600;
        font-size: 2rem;
        color: #002603;
        margin-bottom: 20px;
        @include md-min {
          font-size: 3rem;
        }
        @include lg-min {
          font-size: 2.5rem;
        }
        @include xl-min {
          font-size: 3.5rem;
        }
      }
  
      .button {
        background-color: transparent;
        border-radius: 40px;
        border: 2px solid #000;
        color: #000;
        font-weight: 600;
        padding: 8px 20px;
        &:hover {
         background-color: #00B207;
        }
      }
    }
  }
}