@import '../../../../styles/responsive';
@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.banner {
  background-color: $bg-color;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    @include wrapper;
    @include lg-min {
      gap: 40px;
      padding: 60px 0;
    }

    .image {
      display: none;
      @include lg-min {
        flex: 1;
        display: block;
        object-fit: cover;
        height: 300px;
        width: fit-content;
      }
      @include xl-min {
        height: 450px;
      }
    }

    .information {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 49px;
      margin-top: 33px;

      .bannerTitle {
        color: $text-color;
        font-size: 32px;
        font-weight: 400;
        @include md-min {
          font-size: 3rem;
        }
        @include lg-min {
          font-size: 2.5rem;
        }
        @include xl-min {
          font-size: 3.5rem;
        }
      }

      .button {
        background-color: transparent;
        border-radius: 40px;
        border: 2px solid $text-color;
        color: $text-color;
        font-weight: 600;
        padding: 8px 20px;
        margin-top: 24px;

        &:hover {
          background-color: #00B207;
        }
      }
    }
  }
}