@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.data {
  @include wrapper;
  display: grid;
  gap: 1.75rem;
  margin-bottom: 3rem;
  width: 100%;
  @include lg-min {
    gap: 2rem;
    grid-template-columns: max-content auto;
    grid-template-rows: repeat(7, auto);
    margin-bottom: 4rem;
  }

  &__input {
    display: none;
    &:checked + label::after {
      transform: translateY(-50%) rotate(0deg);
      @include lg-min {
        background-color: $color-orange-500;
      }
    }
  }

  &__label {
    cursor: pointer;
    display: block;
    font-size: 1.125rem;
    position: relative;
    @include lg-min {
      font-size: 1.5rem;
      grid-column: 1;
      padding-right: 1rem;
    }

    &::after {
      content: "";
      background-image: url("/assets/icon/icon-angle-up.svg");
      background-size: contain;
      background-position: center;
      width: 1.125rem;
      height: 1.125rem;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      @include lg-min {
        background-image: none;
        transform: translateY(-50%) rotate(0deg);
        width: 2px;
        height: 140%;
      }
    }

    & + div {
      @include lg-min {
        grid-column: 2;
        grid-row: 1/-1;
      }
    }

    &_gridRow1 {
      @include lg-min {
        grid-row: 1;
      }
    }
    &_gridRow2 {
      @include lg-min {
        grid-row: 2;
      }
    }
    &_gridRow3 {
      @include lg-min {
        grid-row: 3;
      }
    }
    &_gridRow4 {
      @include lg-min {
        grid-row: 4;
      }
    }
    &_gridRow5 {
      @include lg-min {
        grid-row: 5;
      }
    }
  }

  &__exit {
    background-color: transparent;
    border: none;
    color: $color-gray-light-2;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    margin: auto;
    outline: none;
    padding: 0;
    width: fit-content;
    @include lg-min {
      font-size: 1.5rem;
      grid-column: 1;
      grid-row: 7;
      margin: 0;
    }
  }
}
