@import "../../../../styles/mixins";
@import "../../../../styles/responsive";
@import "../../../../styles/variables";

.cartPage {
  display: grid;
  gap: 2em;
  @include wrapper;
  @include md-min {
    grid-template-columns: repeat(2, 1fr);
  }
  @include lg-min {
    grid-template-columns: repeat(3, 1fr);
  }

  .warning {
    text-align: center;
    margin: 30px 0;
  }

  .cartItem {
    position: relative;

    .deleteIcon {
      cursor: pointer;
      position: absolute;
      top: 19px;
      right: 10px;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
