@import "../../../../../src/styles/responsive";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/variables";

.product {
  @include wrapper;
  color: $color-gray-dark-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6em;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    &_row {
      @include lg-min {
        flex-direction: row;
      }
    }

    &_columnReverse {
      @include lg-min {
        flex-direction: column-reverse;
      }
    }
  }

  &__image {
    aspect-ratio: 1/1;
    min-width: 15rem;
    position: relative;
    width: 100%;
    @include lg-min {
      max-height: 37.5rem;
      max-width: 37.5rem;
    }

    &Img {
      object-fit: cover;
      position: relative !important;
    }

    &Like {
      height: 1.5rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.5rem;
      z-index: 5;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    @include md-min {
      font-size: 1.5rem;
    }
    @include lg-min {
      font-size: 2rem;
    }
  }

  &__price {
    color: $color-gray-dark-1;
    font-size: 1.5rem;
    font-weight: 500;

    span {
      color: $color-red-1;
      margin-right: 0.5rem;
      text-decoration: line-through;
    }
  }

  &__measure {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;

    &Label {
      border: 1px solid $color-orange-300;
      border-radius: 1rem;
      color: #777;
      cursor: pointer;
      font-size: 1.125rem;
      padding: 0.5rem 1rem;
    }

    &RadioBtn:checked + label {
      border: 2px solid $color-orange-500;
      color: $color-gray-dark-1;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    @include md-min {
      font-size: 1.5rem;
    }
    @include lg-min {
      font-size: 2rem;
    }
  }

  &__subtitleSuits {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    @include md-min {
      font-size: 1.125rem;
    }
    @include lg-min {
      font-size: 1.25rem;
    }
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    @include lg-min {
      font-size: 1.125rem;
    }

    &_green {
      color: $color-green-dark-3;
    }

    &_red {
      color: $color-red-1;
    }
  }

  &__listItem {
    list-style: url("/assets/icon/information-line-icon.svg");
    margin-left: 2rem;
  }

  &__button {
    &Cart {
      @include button-1;
      margin-inline: auto;
      max-width: 18rem !important;
    }
  }

  &__listItemSuitsFor {
    line-height: 1.5;
    margin-left: 2rem;
    &::marker {
      color: #1e1e1c;
    }
  }
}

.productList {
  @include wrapper;
}
