@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.order {
  @include wrapper;
  display: flex;
  flex-direction: column;

  .titleText {
    display: none;
    @media screen and (min-width: $burger-menu-screen-width) {
      display: block;
      font-size: 2em;
      font-weight: 600;
      margin: 1rem auto 0 auto;
    }
  }

  .orderContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include xl-min {
      flex-direction: row-reverse;
      gap: 3rem;
    }

    .orderDetails {
      flex: 1;

      .details {
        margin-bottom: 1rem;
        margin-top: 1rem;

        .summary {
          align-items: center;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          list-style: none;

          > span {
            font-size: 1.75em;
          }

          .angleIcon {
            transition: 0.5s;
          }
        }

        &[open] .angleIcon {
          transform: rotate(180deg);
          transition: 0.5s;
        }

        .cartItems {
          display: grid;
          gap: 2em;
          list-style: none;

          .warning {
            text-align: center;
            margin: 30px 0;
          }

          .cartItem {
            position: relative;
          }
        }
      }

      .price {
        // @include wrapper;
        // align-items: center;
        // background-color: #d9d9d9;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        // padding-top: 1rem !important;
        // padding-bottom: 1rem !important;

        .caption {
          color: $color-gray-dark-1;
          font-size: 14px;
        }

        .sum {
          color: $color-gray-dark-1;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

.warning {
  text-align: center;
  &:last-child {
    margin-top: 10px;
  }
}

.buttonPayment {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
