@import "../../../../../styles/responsive";
@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.container {
  display: grid;
  column-gap: 0.5rem;
  row-gap: 1.5rem;
  list-style: none;
  @media screen and (min-width: 310px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include md-min {
    grid-template-columns: repeat(3, 1fr);
  }
  @include lg-min {
    grid-column: 2/-1;
    grid-row: 1/-1;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
  }
  @include xl-min {
    grid-template-columns: repeat(3, 1fr);
  }
  @include xxl-min {
    grid-template-columns: repeat(4, 1fr);
  }
}
