@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.container {
  @include wrapper;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;

    .button {
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: center;
      outline: none;

      .buttonText {
        color: $color-gray-dark-1;
        font-size: 1rem;
      }
    }
  }

  .dialogs {
    height: 0;
    width: 100%;
    z-index: 1;

    &__dialog {
      background-color: rgba($color-black, 0.2);
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 50;

      &_inner {
        background-color: $color-bg-light-1;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
        max-width: 300px;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        width: 100%;

        &_sort {
          margin-left: auto;
        }
      }
    }
  }
}

.dialogContainer {
  background-color: $color-bg-light-1;
  border-radius: 1rem;
  box-shadow: 0px 0px 1rem #5558;
  margin-bottom: 1rem;
  padding: 1rem;

  .dialogTitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .dialogTitleName {
      color: $color-gray-dark-1;
      font-size: 1rem;
    }

    .dialogTitleIcon {
      cursor: pointer;
    }
  }

  .sortItems {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .sortItem {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
      list-style: none;

      label {
        cursor: pointer;
      }
    }
  }
}
