@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.title {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding-inline: 1.5rem;

  &__name {
    color: $color-gray-dark-1;
    font-size: 1rem;
  }

  &__icon {
    cursor: pointer;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  overflow-y: auto;
  padding-inline: 1.5rem;

  &__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
  }

  &__label {
    cursor: pointer;
  }
}

.button {
  padding-inline: 1.5rem;
  &__button {
    @include button-2;
  }
}
