@import "../../../../styles/mixins";
@import "../../../../styles/responsive";

.divider {
  height: 2rem;
  width: 100%;
  @include md-min {
    height: 3rem;
  }
  @include lg-min {
    height: 4rem;
  }
  @include xl-min {
    height: 5rem;
  }
  @include xxl-min {
    height: 6rem;
  }
}

.productList {
  @include wrapper;
}
