@import "../../../../styles/mixins";
@import "../../../../styles/responsive";

.dividerSmall {
  height: 30px;
  width: 100%;
  @include lg-min {
    height: 60px;
  }
}

.divider {
  height: 60px;
  width: 100%;
  @include lg-min {
    height: 100px;
  }
}

.productList {
  @include wrapper;
}
