@import "@/styles/responsive";
@import "@/styles/mixins";

.PasswordRecoveryForm___title {
  @include fonts($size: $font-size-xl);
  margin-bottom: $m;
}
.PasswordRecoveryForm___form {
  margin-bottom: $m;
}
.PasswordRecoveryForm__inputWrapper {
  margin-bottom: $m;
}
.PasswordRecoveryForm__container {
  @include wrapper;
}
.PasswordRecoveryForm__errorMsg {
  @include invalidData;
  margin-top: $s;
}
.PasswordRecoveryForm__nav {
  margin-bottom: $m;
  display: flex;
  justify-content: space-between;
}
.PasswordRecoveryForm__alternateAuth {
  margin-bottom: $s;
}
.PasswordRecoveryForm___success_msg {
  @include validData;
}
