@import "../../../../styles/mixins";
@import "../../../../styles/responsive";
@import "../../../../styles/variables";

.wrapper {
  background-color: #eee;
  border-radius: 1rem;
  padding: 1rem;

  .article {
    .title {
      color: $color-gray-dark-1;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;

      a {
        color: inherit;
        text-decoration: none;
        transition: all 0.2s;
        width: 100%;
        &:hover {
          color: $color-green-dark-2;
        }
      }
    }

    .content {
      container: content / inline-size;
      height: 360px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &::before {
        background-image: linear-gradient(transparent, #eee 90%);
        bottom: 0;
        content: "";
        height: 40px;
        left: 0;
        position: absolute;
        width: 100%;
      }

      .imageWrapper {
        height: 200px;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;

        .image {
          display: block;
          object-fit: cover;
          position: relative !important;
          transition: all 0.4s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .articleText {
        line-height: 1.5;
      }
    }
  }

  .articleLink {
    color: $color-gray-dark-1;
    display: block;
    font-size: 1.125rem;
    margin-top: 0.25rem;
    text-align: right;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: $color-green-dark-2;
    }
  }
}

@container content (min-width: 450px) {
  .imageWrapper {
    float: left;
    height: 360px !important;
    margin-right: 1rem;
    width: 250px;
  }
}
