@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.wrapper {
  @include wrapper;
  box-shadow: 0 0 1rem #aaa;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0 !important;

  .nav {
    display: flex;

    .authenticated {
      display: flex;
      flex: 1;

      .customerOn {
        align-items: center;
        display: flex;
        justify-content: center;
        flex: 1;
        font-size: 1rem;

        p {
          pointer-events: none;
        }
      }

      .customerOff {
        align-items: center;
        background-color: #aaa;
        color: 777;
        display: flex;
        flex: 1;
        justify-content: center;
        font-size: 0.9rem;

        p {
          cursor: pointer;
        }
      }
    }

    .btnClose {
      align-items: center;
      background-color: $cart-item-bg;
      border-radius: 1.3rem;
      display: flex;
      font-size: 1.5rem;
      font-weight: bold;
      height: 2.6rem;
      justify-content: center;
      margin: 0.5rem 1rem;
      width: 2.6rem;
      &:hover {
        background-color: #9d9b9b;
      }
    }
  }

  .formContainer {
    position: relative;

    .logIn {
      background-color: #fff;
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 10;

      .logInBtn {
        background-color: #ddd;
        border: 1px solid #333;
        border-radius: 1rem;
        font-size: 1.4rem;
        margin-top: 3rem;
        padding: 0.5rem;

        &:hover {
          background-color: #bbb;
        }
      }
    }
  }
}
