@import "@/styles/responsive";
@import "@/styles/mixins";
@import "@/styles/variables";

.Field__input {
  @include input-1;
}

.Field__label_marginBottom {
  display: block;
  margin-bottom: $s;
}

.Field__label:has(+ input:valid),
.Field__label:has(+ .Field__inputWrapper input:valid) {
  @include validData;
}
.Field__label:has(+ input:invalid),
.Field__label:has(+ .Field__inputWrapper input:invalid) {
  @include invalidData;
}
.Field__errorMsg {
  @include invalidData;
}
input:invalid + .Field__errorMsg,
.Field__inputWrapper:has(input:invalid) + .Field__errorMsg {
  display: block;
  margin-top: $s;
}
input:valid + .Field__errorMsg,
.Field__inputWrapper:has(input:valid) + .Field__errorMsg {
  display: none;
}
.Field__inputWrapper {
  position: relative;
}

.Field__pswdShowBtn {
  position: absolute;
  top: 50%;
  right: $s;
  transform: translateY(-50%);
  background: transparent;
  @include button-icon;
}
.Field__pswdShowIcon {
  width: 24px;
  height: 24px;
}
.Field__pswdShowIcon_hidden {
  color: $color-gray-light-1;
}
.Field__pswdShowIcon_visible {
  color: $color-gray-dark-1;
}
.Field__optionList {
  max-height: 200px;
  position: absolute;
  z-index: 1;
  top: 100%;
  overflow: auto;
  list-style: none;
  background: $color-bg-light-2;
  @include shadow;
  & > li {
    padding: $s $m;
    cursor: pointer;
  }
  & > li:hover {
    background: $color-green-2;
  }
}
