@import "@/styles/_responsive";
@import "@/styles/_mixins";
@import "@/styles/_variables";

.Field__input {
  @include input-1;
}

.Field__label_marginBottom {
  display: block;
  margin-bottom: $s;
}

.Field__label:has(+ input:valid),
.Field__label:has(+ .Field__inputWrapper input:valid) {
  @include validData;
}
.Field__label:has(+ input:invalid),
.Field__label:has(+ .Field__inputWrapper input:invalid) {
  @include invalidData;
}
.Field__errorMsg {
  @include invalidData;
}
input:invalid + .Field__errorMsg,
.Field__inputWrapper:has(input:invalid) + .Field__errorMsg {
  display: block;
  margin-top: $s;
}
input:valid + .Field__errorMsg,
.Field__inputWrapper:has(input:valid) + .Field__errorMsg {
  display: none;
}
.Field__inputWrapper {
  &:not(:last-of-type) {
    margin-bottom: $s;
  }
  position: relative;
}

.Field__pswdShowBtn {
  position: absolute;
  top: 50%;
  right: $s;
  transform: translateY(-50%);
  background: transparent;
  @include button-icon;
}
.Field__pswdShowIcon {
  width: 24px;
  height: 24px;
}
.Field__pswdShowIcon_hidden {
  color: $color-gray-light-1;
}
.Field__pswdShowIcon_visible {
  color: $color-gray-dark-1;
}
.Field__optionList {
  max-height: 200px;
  position: absolute;
  z-index: 1;
  top: 100%;
  overflow: auto;
  list-style: none;
  background: $color-bg-light-2;
  @include shadow;
  & > li {
    padding: $s $m;
    cursor: pointer;
  }
  & > li:hover {
    background: $color-green-2;
  }
}
// ===========inserted==========
.labelText {
  margin-top: 0.5rem;
  display: block;

  span.invalidData {
    @include invalidData;
  }
}
.inputText {
  @include input-1;
  margin: 0.5rem 0;
}
.radioBtn {
  appearance: none;
  color: #555;
  width: 1rem;
  height: 1rem;
  border: 1px solid #555;
  border-radius: 50%;

  &:checked {
    background: radial-gradient(#555 50%, #fff 50%);
  }
}
.labelSelect {
  margin-top: 0.5rem;
  display: block;
  width: 100%;

  span.invalidData {
    @include invalidData;
  }
}
.select {
  @include input-1;
  margin: 0.5rem 0;
}

// ===========inserted==========
