@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.headline {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem !important;

  .caption {
    color: $text-color;
    font-size: 14px;
  }

  .sum {
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
  }
}
