@import "variables";

@mixin fonts($family, $weight, $size, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;
}