@import "variables";
@import "responsive";

@mixin fonts($family, $weight, $size, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  @include md-min {
    padding: 0 40px;
  }
  @include xl-min {
    max-width: 1400px;
    padding: 0 60px;
  }
}