@import "variables";
@import "responsive";

@mixin fonts(
  $weight: $font-weight-normal,
  $size: 1.125rem,
  $color: $color-black
) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin wrapper {
  width: 100%;
  min-width: 260px;
  margin: 0 auto;
  padding: 0 16px;
  @include md-min {
    padding: 0 40px;
  }
  @include xl-min {
    max-width: 1400px;
    padding: 0 60px;
  }
}

@mixin input-1 {
  background-color: $color-bg-light-2;
  border: 2px solid $color-green-1;
  border-radius: 0.75rem; // 12px
  color: $color-gray-dark-1;
  font-size: 1.125rem; // 18px
  padding: 1.125rem 0.75rem;
  outline: none;
  width: 100%;
  &::placeholder {
    color: $color-gray-light-1;
  }
  &:hover {
    border-color: $color-green-2;
  }
  &:focus {
    border-color: $color-green-dark-1;
  }
  &:disabled {
    border-color: $color-gray-light-1;
    color: $color-gray-light-1;
    cursor: default;
    pointer-events: none;
  }
  &:invalid {
    border-color: $color-red-1;
  }
}

@mixin button-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $s;
  //background-color: $color-green-1;
  background-color: $color-orange-500;
  border: none;
  border-radius: 2rem;
  color: $color-gray-dark-1;
  font-size: 1.5rem;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &:disabled {
    //background-color: $color-green-light-1;
    background-color: $color-orange-200;
    color: $color-gray-light-1;
    pointer-events: none;
    user-select: none;
  }

  &:enabled {
    cursor: pointer;
    &:hover {
      //background-color: $color-green-3;
      background-color: $color-orange-300;
    }
    &:active {
      //background-color: $color-green-dark-2;
      background-color: $color-orange-300;
    }
  }
}

@mixin button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $s;
  //background-color: $color-green-1;
  background-color: $color-white;
  border: 1px solid $color-orange-300;
  border-radius: 3rem;
  color: $color-orange-500;
  font-size: 0.875rem;
  outline: 3px solid rgba($color-orange-200, 0);
  padding: 0.5rem;
  text-align: center;
  transition: all 0.2s;
  width: 100%;

  &:disabled {
    background-color: $color-orange-200;
    color: $color-gray-light-1;
    pointer-events: none;
    user-select: none;
  }

  &:enabled {
    cursor: pointer;
    &:hover {
      border-color: $color-orange-400;
    }
    &:active {
      background-color: $color-orange-200;
      outline: 3px solid rgba($color-orange-200, 0.4);
    }
  }
}

@mixin checkbox-1 {
  appearance: none;
  border: 2px solid $color-orange-300; //$color-green-dark-2
  border-radius: 4px;
  cursor: pointer;
  height: 16px;
  position: relative;
  width: 16px;
  &:checked::after {
    content: "";
    border: 2px solid $color-orange-300; //$color-green-dark-2
    border-right: none;
    border-top: none;
    bottom: 4px;
    height: 6px;
    left: 2px;
    position: absolute;
    transform: rotate(-45deg);
    width: 10px;
  }
}

@mixin button-icon {
  background: transparent;
  cursor: pointer;
}

@mixin invalidData {
  color: $color-red-1;
  font-weight: $font-weight-medium;
}

@mixin validData {
  color: $color-green-dark-3;
  font-weight: $font-weight-medium;
}

@mixin shadow {
  box-shadow: 0 0 1rem #aaa;
}
