$base-white: #ffffff;
$dark-gray: #3a3939;
$light-gray: #949393;
$red: #ff0000ff;
$text-color: #000;
$description-color: #787676;
$bg-color: #efefef;
$cart-item-bg: #d9d9d9;
$measure-color: #929292;
$icons-color: #000;

//sizes

$sm: 10px;
