$color-white: #fff;
$color-black: #000;

$color-bg-light-1: #fafafa; // main background
$color-bg-light-2: #fffdf9; // input background

$color-gray-light-1: #777a77; // input placeholder, product measure
$color-gray-dark-1: #1e1e1c; // main text, input text

$color-green-light-1: #e0ece1; // button bg
$color-green-light-2: #e4f7ea; // button bg
$color-green-1: #95d89a; // input border, button bg, header, footer
$color-green-2: #85c78a; // input hover
$color-green-3: #78cd7d; // button bg
$color-green-dark-1: #6ca170; // input focus
$color-green-dark-2: #67b06c; // button bg, button text, links hover
$color-green-dark-3: #008000; // success text, loader, bg

$color-orange-50: #fffdf9; // input background
$color-orange-200: #ffc683;
$color-orange-300: #ffad4d;
$color-orange-400: #ff9920;
$color-orange-500: #ff8a00;

$color-red-1: #f32f04; // input border, error, action price

$burger-menu-screen-width: 900px;

//paddings, margins
$s: 10px;
$m: 20px;

//font weight
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;

//font sizes
$font-size-xl: 20px;
$font-size-2xl: 30px;
$font-size-3xl: 48px;
