@import "../../../../styles/mixins";
@import "../../../../styles/responsive";

.container {
  @include wrapper;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
    @include lg-min {
      font-size: 2.2rem;
    }
  }

  .wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }

    .article {
      background-color: #ddd;
      border-radius: 16px;
      padding: 16px;
      &:first-child {
        grid-column: 1/3;
        @include lg-min {
          grid-column: 1/2;
        }
      }

      .articleTitle {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .articleText {
        line-height: 1.5rem;
        margin: 1rem auto;
      }

      .articleLink {
        font-weight: 600;
        text-align: right;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
