@import "../../../../styles/responsive";
@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.productList {
  text-align: center;

  .title {
    color: $color-gray-dark-1;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    @include md-min {
      font-size: 2.25rem;
      margin-bottom: 2.25rem;
    }
    @include lg-min {
      font-size: 3rem;
      margin-bottom: 3.25rem;
    }
  }

  .navigation {
    font-size: 1.2rem;
    padding-top: 20px;
  }
}
