.footer {
  background-color: #002603;
  margin-top: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #618062;
    font-weight: 600;
  }

  .copyright {
    color: #618062;
    font-size: 14px;
  }

  .socialMedia {
    display: flex;
    gap: 10px;

    .icon {
    }
  }
}
