@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.header {
  @include wrapper;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .title {
    font-size: 1.5rem;
    margin-right: 2em;
    @include lg-min {
      font-size: 2.5rem;
    }
  }

  .btnHide {
    align-items: center;
    border-radius: 1.3rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    height: 2.6rem;
    justify-content: center;
    width: 2.6rem;
    &:hover {
      background-color: $cart-item-bg;
    }
  }
}
