@import "../../../../../styles/responsive";
@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.banner {
  background-color: #efefef;
  padding-top: 33px;
  padding-bottom: 49px;
  .wrapper {
    @include wrapper;

    @include lg-min {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    .image {
      display: none;
      @include lg-min {
        //flex: 1;
        display: block;
        object-fit: cover;
        height: 300px;
        width: fit-content;
      }
      @include xl-min {
        height: 450px;
      }
    }

    .information {
      display: flex;
      flex-direction: column;
      align-items: center;

      .bannerTitle {
        color: $color-gray-dark-1;
        font-size: 32px;
        font-weight: 400;
        @include md-min {
          font-size: 3rem;
        }
        @include lg-min {
          font-size: 2.5rem;
        }
        @include xl-min {
          font-size: 3.5rem;
        }
      }

      .button {
        background-color: transparent;
        border-radius: 40px;
        border: 2px solid $color-gray-dark-1;
        color: $color-gray-dark-1;
        font-weight: 600;
        padding: 8px 20px;
        margin-top: 24px;

        &:hover {
          background-color: #00b207;
        }
      }
    }
  }
}
