@import "../../../../../../styles/mixins";
@import "../../../../../../styles/responsive";
@import "../../../../../../styles/variables";

.regularCustomer {
  background-color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;

  .container {
    margin: auto;
    max-width: 500px;
    padding: 1rem;

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      padding: 2rem 0;
      width: 100%;

      .labelText {
        grid-column: 1/-1;
        margin-top: 0.5rem;
        text-align: left;
      }

      .inputText {
        @include input-1;
        grid-column: 1/-1;
      }

      .btnPassword {
        @include button-1;
        margin: 12px 0;
        text-decoration: underline;
      }

      .btnSubmit {
        @include button-1;
        margin: 12px 0;
      }
    }

    .btnSignIn {
      @include button-1;
      margin: 12px 0;
    }
  }
}
