@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.container {
  @include wrapper;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;

  .btnBack {
    align-items: center;
    background-color: $cart-item-bg;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;
    &:hover {
      background-color: #9d9b9b;
    }
  }

  .title {
    font-size: 20px;
    margin-left: 12px;
  }
}
