@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.container {
  @include wrapper;
  align-items: center;
  background-color: $color-bg-light-1;
  border-bottom: 1px solid #999;
  display: flex;
  padding-bottom: 0.5em !important;
  padding-top: 0.5em !important;
  @media screen and (min-width: $burger-menu-screen-width) {
    display: none;
  }

  .btnBack {
    align-items: center;
    background-color: $color-white;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    width: 30px;

    &:hover {
      background-color: $color-gray-light-1;
    }
  }

  .title {
    font-size: 20px;
    margin-left: 12px;
  }
}
