@import "../../../../../styles/responsive";
@import "../../../../../styles/mixins";
@import "../../../../../styles/variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  @include wrapper;
  @include xl-min {
    gap: 1.5rem;
  }

  &__title {
    color: $color-gray-dark-1;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    @include md-min {
      font-size: 2rem;
    }
    @include lg-min {
      font-size: 2.5rem;
    }
    @include xl-min {
      font-size: 3rem;
    }
  }

  &__info {
    color: $color-gray-dark-1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    max-width: 56rem;
    @include md-min {
      font-size: 1.125rem;
    }
    @include lg-min {
      font-size: 1.25rem;
    }
    @include xxl-min {
      font-size: 1.5rem;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    margin-block: 1.5rem;

    @include md-min {
      column-gap: 3rem;
    }

    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;
      margin-block: 2rem;
    }

    @include xxl-min {
      gap: 4.5rem;
      margin-block: 2.5rem;
    }
  }

  &__item {
    text-align: center;
  }

  &__value {
    color: rgba($color-green-dark-3, 0.5);
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1.5;

    @include md-min {
      font-size: 2.5rem;
      font-weight: 800;
    }
    @include lg-min {
      font-size: 3rem;
      font-weight: 800;
    }
    @include xxl-min {
      font-size: 4.375rem;
      font-weight: 800;
      margin-bottom: 1rem;
    }
  }

  &__text {
    color: $color-gray-dark-1;
    font-size: 0.875rem;
    line-height: 1.5;
    @include md-min {
      font-size: 1rem;
    }
    @include lg-min {
      font-size: 1.125rem;
    }
    @include xxl-min {
      font-size: 1.25rem;
    }
  }

  &__btn {
    @include button-1;
  }
}
