@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.product {
  container: productCard / inline-size;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  @container productCard (min-width:12.5rem) {
    gap: 1rem;
  }
  @container productCard (min-width:17.5rem) {
    gap: 2.25rem;
  }

  &__picture {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__image {
    display: block;
    height: 100%;
    margin: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.4s;
    width: 100%;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__like {
    position: absolute;
    right: 5%;
    top: 5%;
    max-height: 1.75rem;
    max-width: 1.75rem;
    height: 18%;
    width: 18%;
  }

  &__title {
    text-align: left;
    color: $color-gray-dark-1;
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    transition: all 0.2s;
    white-space: nowrap;
    width: fit-content;
    @container productCard (min-width:12.5rem) {
      font-size: 1rem;
    }
    @container productCard (min-width:17.5rem) {
      font-size: 1.25rem;
    }
    &:hover {
      color: $color-orange-500;
    }
  }
}

.price {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  height: 1.75rem;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  @container productCard (min-width:11rem) {
    align-items: center;
    height: 1rem;
  }

  &__sale {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    @container productCard (min-width:11rem) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__previousPrice {
    color: $color-gray-dark-1;
    font-size: 0.75rem;
    margin-right: 0.5rem;
    text-decoration: line-through;
    @container productCard (min-width:12.5rem) {
      font-size: 0.938rem;
    }
    @container productCard (min-width:17.5rem) {
      font-size: 1.125rem;
    }
  }

  &__actionPrice {
    color: $color-red-1;
    font-size: 1rem;
    @container productCard (min-width:12.5rem) {
      font-size: 1.125rem;
    }
  }

  &__normalPrice {
    color: $color-gray-dark-1;
    font-size: 0.75rem;
    @container productCard (min-width:12.5rem) {
      font-size: 0.938rem;
    }
    @container productCard (min-width:17.5rem) {
      font-size: 1.125rem;
    }
  }

  &__unit {
    color: $color-gray-light-1;
    font-size: 0.75rem;
    @container productCard (min-width:12.5rem) {
      font-size: 0.938rem;
    }
    @container productCard (min-width:17.5rem) {
      font-size: 1.125rem;
    }
  }
}
