@import '../../../../../src/styles/variables';

.item {
  border-radius: 10px;

  .cardImage {
  }

  .information {

    .title {
      text-align: left;
      color: $text-color;
      font-size: 12px;
      font-weight: 400;
    }

    .priceContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4px;

      .price {
        color: $text-color;
        font-size: 12px;
        font-weight: 400;
      }

      .unit {
        color: #AFAFAF;
        font-size: 8px;
      }
    }

  }
}