@import "../../../../../src/styles/variables";

.item {
  border-radius: 10px;

  .information {
    .title {
      text-align: left;
      color: $text-color;
      font-size: 12px;
      font-weight: 400;
    }

    .priceContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4px;

      .actionPrice {
        color: red;
        font-size: 12px;
        font-weight: 400;

        span {
          color: $text-color;
          margin-right: 0.5rem;
          text-decoration: line-through;
        }
      }

      .price {
        color: $text-color;
        font-size: 12px;
        font-weight: 400;
      }

      .unit {
        color: #afafaf;
        font-size: 12px;
      }
    }
  }
}
