@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.path {
  @include wrapper;
  align-items: center;
  background-color: $color-bg-light-1;
  border-bottom: 1px solid #999;
  display: flex;
  padding-block: 0.5em !important;
  @media screen and (min-width: $burger-menu-screen-width) {
    background-color: transparent;
    border-bottom: none;
  }

  &__button {
    align-items: center;
    background-color: $color-white;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    justify-content: center;
    margin-right: 1rem;
    width: 30px;
    @media screen and (min-width: $burger-menu-screen-width) {
      display: none;
    }
    &:hover {
      background-color: $color-gray-light-1;
    }
  }

  &__text_wrapper {
    color: $color-gray-dark-1;
    font-size: 1rem;
    overflow: auto;
    position: relative;

    @media screen and (min-width: $burger-menu-screen-width) {
      color: $color-gray-light-1;
    }
  }

  &__text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    @supports (touch-action: pan-x) {
      -ms-touch-action: pan-x;
      touch-action: pan-x;
    }
  }

  &__link {
    color: inherit;
    display: block;
    transition: 0.4s;
    min-width: fit-content;
    &:hover {
      color: $color-green-dark-2;
    }
  }

  &__span {
    display: block;
    margin-right: 0.5rem;
    min-width: fit-content;
  }
}
