@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.path {
  @include wrapper;
  align-items: center;
  display: flex;
  gap: 0.25rem;
  padding-block: 1.5rem !important;

  &__button {
    @media screen and (min-width: $burger-menu-screen-width) {
      display: none;
    }
  }

  &__text_wrapper {
    color: $color-gray-dark-1;
    font-size: 1rem;
    overflow: hidden;
    position: relative;
    @media screen and (min-width: $burger-menu-screen-width) {
      color: $color-gray-light-1;
    }
    @media (pointer: coarse) {
      overflow: auto;
    }
  }

  &__text {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    @supports (touch-action: pan-x) {
      -ms-touch-action: pan-x;
      touch-action: pan-x;
    }
  }

  &__link {
    color: $color-gray-light-1;
    display: block;
    transition: 0.4s;
    min-width: fit-content;
    text-decoration: none;
    &:hover {
      color: $color-orange-300;
    }
  }

  &__span {
    color: $color-gray-light-1;
    display: block;
    margin-right: 0.5rem;
    min-width: fit-content;

    &_black {
      color: $color-black;
    }
  }
}
