@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.button {
  @include button-2;
  height: fit-content;
  margin-inline: auto;
  font-size: 1.125rem;
  transition: all 0.2s;
  max-width: 360px !important;
  // @media screen and (min-width: 768px) {
  // margin-inline: 0;
  // }
}
