@import "../../../../../styles/mixins";
@import "../../../../../styles/responsive";
@import "../../../../../styles/variables";

.wrapper {
  @include wrapper;
  // @include shadow;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0 !important;
  @include xl-min {
    width: 524px;
  }

  .nav {
    display: flex;

    .authenticated {
      display: flex;
      flex: 1;

      .customerOn {
        align-items: center;
        background-color: $color-green-light-2;
        border: 2px solid $color-green-dark-2;
        border-radius: 3rem;
        color: $color-green-dark-2;
        display: flex;
        justify-content: center;
        flex: 1;
        font-size: 1rem;
        margin: 1rem;
        outline: 4px solid $color-green-1;

        p {
          pointer-events: none;
        }
      }

      .customerOff {
        align-items: center;
        border: 2px solid $color-green-dark-2;
        border-radius: 3rem;
        color: $color-green-dark-2;
        display: flex;
        flex: 1;
        justify-content: center;
        font-size: 1rem;
        margin: 1rem;

        p {
          cursor: pointer;
          padding: 1rem;
        }
      }
    }
  }

  .formContainer {
    position: relative;
  }
}
