@import "@/styles/_responsive";
@import "@/styles/_mixins";
@import "@/styles/_variables";

.PasswordChangeForm___title {
  @include fonts($size: $font-size-xl);
  margin-bottom: $m;
}
.PasswordChangeForm___form {
  margin-bottom: $m;
}
.PasswordChangeForm__inputWrapper {
  margin-bottom: $m;
}
.PasswordChangeForm__container {
  @include wrapper;
}
.PasswordChangeForm__errorMsg {
  @include invalidData;
  margin-top: $s;
}
.PasswordChangeForm__nav {
  margin-bottom: $m;
  display: flex;
  justify-content: space-between;
}
.PasswordChangeForm__alternateAuth {
  margin-bottom: $s;
}
.PasswordChangeForm___success_msg {
  @include validData;
}
