@import "@/styles/_responsive";
@import "@/styles/_mixins";
@import "@/styles/_variables";

.PasswordChangeForm__container {
  max-width: 616px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.PasswordChangeForm___title {
  // @include fonts($size: $font-size-xl);
  // margin-bottom: $m;
  display: none;
  @include lg-min {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.PasswordChangeForm___form {
  margin-bottom: $m;
}
.PasswordChangeForm__inputWrapper {
  margin-bottom: $m;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.PasswordChangeForm__errorMsg {
  @include invalidData;
  margin-top: $s;
}
.PasswordChangeForm__nav {
  margin-bottom: $m;
  display: flex;
  justify-content: space-between;
}
.PasswordChangeForm__alternateAuth {
  margin-bottom: $s;
}
.PasswordChangeForm___success_msg {
  @include validData;
}
