@import "@/styles/responsive";
@import "@/styles/mixins";

.PasswordRecoveryTempForm___title {
  @include fonts($size: $font-size-xl);
  margin-bottom: $m;
}
.PasswordRecoveryTempForm___form {
  margin-bottom: $m;
}
.PasswordRecoveryTempForm__inputWrapper {
  margin-bottom: $m;
}
.PasswordRecoveryTempForm__container {
  @include wrapper;
}
.PasswordRecoveryTempForm__errorMsg {
  @include invalidData;
  margin-top: $s;
}
.PasswordRecoveryTempForm__nav {
  margin-bottom: $m;
  display: flex;
  justify-content: space-between;
}
.PasswordRecoveryTempForm__alternateAuth {
  margin-bottom: $s;
}
.PasswordRecoveryTempForm___success_msg {
  @include validData;
}
