@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";
@import "../../../../../src/styles/responsive";

.product {
  border-bottom: 1px solid $color-green-dark-3;
  container: card/inline-size;
  padding-block: 1em;

  &__inner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.picture {
  height: 5rem;
  position: relative;
  width: 5rem;

  &__image {
    display: block;
    height: inherit;
    width: inherit;
  }
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  &__first {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__second {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.title {
  text-decoration: none;

  &__text {
    color: $color-gray-dark-1;
    font-size: 1rem;
    font-weight: 500;
    word-break: break-word;
  }
}

.measure {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &__label {
    color: #777;
    cursor: pointer;
    font-size: 1rem;
  }

  &__button:checked + &__label {
    color: $color-gray-dark-1;
  }
}

.counter {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__button {
    background-color: $color-orange-500 !important;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-position: center;
    -webkit-mask-position: center;

    &:hover {
      background-color: $color-red-1 !important;
    }
  }

  &__value {
    color: $color-gray-dark-1;
    font-size: 1rem;
  }
}

.price {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  &__normal {
    font-size: 1rem;
    font-weight: 500;

    &_red {
      color: $color-red-1;
    }
  }

  &__sale {
    font-size: 0.875rem;
    text-decoration: line-through;
  }
}

@container card (min-width: 25rem) {
  .picture {
    height: 6.25rem;
    width: 6.25rem;
  }

  .title__text {
    font-size: 1.125rem;
  }

  .info__second {
    flex-direction: row;
    justify-content: space-between;
  }
}

@container card (min-width: 45rem) {
  .product__inner {
    gap: 1.5rem;
  }

  .picture {
    height: 7.5rem;
    width: 7.5rem;
  }

  .title__text {
    font-size: 1.625rem;
  }

  .measure__label {
    font-size: 1.25rem;
  }

  .counter {
    gap: 1rem;

    &__button {
      height: 1.25rem;
      width: 1.25rem;
    }

    &__value {
      font-size: 1.25rem;
    }
  }

  .price {
    gap: 0.75rem;

    &__normal {
      font-size: 1.25rem;
    }

    &__sale {
      font-size: 1rem;
    }
  }
}

@container card (min-width: 56rem) {
  .product__inner {
    align-items: center;
    gap: 2rem;
  }

  .info {
    flex-direction: row;
    align-items: center;

    &__second {
      gap: 4rem;
    }
  }
}

@container card (min-width: 75rem) {
  .title__text {
    font-size: 2rem;
  }

  .measure__label {
    font-size: 1.5rem;
  }

  .counter {
    gap: 1rem;

    &__button {
      height: 1.5rem;
      width: 1.5rem;
    }

    &__value {
      font-size: 1.5rem;
    }
  }

  .price {
    gap: 0.75rem;

    &__normal {
      font-size: 1.5rem;
    }

    &__sale {
      font-size: 1.125rem;
    }
  }
}
