@import "../../../../../src/styles/variables";
@import "../../../../../src/styles/mixins";

.item {
  position: relative;
  display: flex;
  gap: 14px;
  background-color: $cart-item-bg;
  padding: 13px 3px 13px 8px;

  .container {
    position: relative;
    width: 96px;
    height: 86px;

    .cardImage {
      object-fit: cover;
    }
  }

  .information {
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.5px;
      margin-bottom: 4px;
    }

    .measure {
      display: flex;
      gap: 0.5rem;
      margin: 1rem 0;

      .measureLabel {
        border: 1px solid #777;
        color: #777;
        cursor: pointer;
        padding: 0.2rem 0.5rem;
      }

      .measureRadioBtn:checked + label {
        border: 2px solid #000;
        color: #000;
      }
    }

    .counter {
      display: flex;
      justify-content: space-between;

      .amount {
        display: flex;
        align-items: center;

        .amountIconContainer {
          position: relative;
          width: 20px;
          height: 20px;

          .amountIcon {
            cursor: pointer;
            object-fit: cover;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        .amountMeasure {
          color: $text-color;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .sum {
    position: absolute;
    right: 11px;
    bottom: 17px;
  }
}
